*/auth.json
auth.json

UwUBot/downloads/*

*.zip

*/node_modules/
node_modules

*/.DS_Store
.DS_Store

*/auth.txt
*/bin
*/obj

WSB/*.txt
UwUBot/.auth.json.un~
UwUBot/auth.json~

*/.scannerwork
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
AndyBot/AndyQuotes.txt
*.v2
*.v2
BrainCellBot/.vs/BrainCellBot/v17/.suo
*.2
BrainCellBot/.vs/BrainCellBot/v17/.suo
.vscode/
/BrainCellBot/.vs/BrainCellBot/FileContentIndex

*/obj/*
*/bin/*
*/.vs/*
*.v2

*/ScribeBot/auth.txt
AndyBot/UnfilteredQuotes.txt
ScribeBot/AndyQuotes.txt
ScribeBot/GamerQuotes.txt
AndyBot/oldAndyQuotes.txt
